In [1]:
from random import choice
from terminusdb_client import WOQLQuery, WOQLClient
import terminusdb_client.woqldataframe as woqldf
import pandas as pd

In [2]:
db_id = "movie_graph"
client = WOQLClient("https://127.0.0.1:6363")
client.connect(key="root", account="admin", user="admin")
client.db(db_id)

'movie_graph'

In [3]:
result = WOQLQuery().star().execute(client)
result_df = woqldf.query_to_df(result)

/Users/cheuktingho/.pyenv/versions/3.7.3/envs/test-terminusdb-client/lib/python3.7/site-packages/terminusdb_client/woqldataframe/woqlDataframe.py:251: UserWarning: DEPRECATED in 0.3.0: use result_to_df instead.
  warnings.warn("DEPRECATED in 0.3.0: use result_to_df instead.")

In [4]:
result_df.head()

,Object,Predicate,Subject
0,terminusdb:///schema#Genre,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,terminusdb:///data/Genre_Action
1,Action,http://www.w3.org/2000/01/rdf-schema#label,terminusdb:///data/Genre_Action
2,terminusdb:///schema#Genre,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,"terminusdb:///data/Genre_Action,Adventure"
3,"Action,Adventure",http://www.w3.org/2000/01/rdf-schema#label,"terminusdb:///data/Genre_Action,Adventure"
4,terminusdb:///schema#Genre,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,"terminusdb:///data/Genre_Action,Adventure,Biog..."

# Finding the movies that an actor is in

In [5]:
actor = "Nicole Kidman"
query = (WOQLQuery().select("v:some_name", "v:movie_name")
                    .triple("v:someone", "type", "scm:Person")
                    .triple("v:someone", "label", "v:some_name")
                    .eq("v:some_name", actor)
                    .triple("v:some_movie", "type", "scm:Movie")
                    .triple("v:some_movie", "Cast", "v:someone")
                    .triple("v:some_movie", "label", "v:movie_name")
        )
result = query.execute(client)
result_df = woqldf.query_to_df(result)
result_df.head(30)

/Users/cheuktingho/.pyenv/versions/3.7.3/envs/test-terminusdb-client/lib/python3.7/site-packages/terminusdb_client/woqldataframe/woqlDataframe.py:251: UserWarning: DEPRECATED in 0.3.0: use result_to_df instead.
  warnings.warn("DEPRECATED in 0.3.0: use result_to_df instead.")

             movie_name      some_name
0             Australia  Nicole Kidman
1                Genius  Nicole Kidman
2                  Lion  Nicole Kidman
3  Secret in Their Eyes  Nicole Kidman
4    The Golden Compass  Nicole Kidman

# Find a movie to watch tonight

In [6]:
genre = "Adventure"
query = (WOQLQuery().select("v:gerne_name", "v:movie_name")
                    .triple("v:some_gerne", "type", "scm:Genre")
                    .triple("v:some_gerne", "label", "v:gerne_name")
                    .eq("v:gerne_name", genre)
                    .triple("v:some_movie", "type", "scm:Movie")
                    .triple("v:some_movie", "label", "v:movie_name")
        )
result = query.execute(client)
result_df = woqldf.query_to_df(result)
all_movie = result_df['movie_name']
choice(all_movie)

/Users/cheuktingho/.pyenv/versions/3.7.3/envs/test-terminusdb-client/lib/python3.7/site-packages/terminusdb_client/woqldataframe/woqlDataframe.py:251: UserWarning: DEPRECATED in 0.3.0: use result_to_df instead.
  warnings.warn("DEPRECATED in 0.3.0: use result_to_df instead.")

'Despicable Me 2'